.translate-box {

    
    .ui.basic.button.translate-box__update-button {
        box-shadow: none !important;
        color: #2185d0!important;
    }
    &__versions-available {
        position: absolute;
        left: 2%;
        bottom: 5%;
        cursor: pointer;;
        .icon {
            margin-left: 5px;
            margin-right: 0;;
        }
    }
    &__word-limit {
        position: absolute;
        right: 2%;
        bottom: 5%;
    }
    .text-translator-only {
        visibility: hidden;
    }
    &:hover {
        .text-translator-only {
            visibility: visible;
        }
    }
    mark {
        background: rgba(249, 157, 37, 0.2);
    }
}

.DraftEditor-editorContainer {
    padding: 0px 30px 30px 10px;
}